#mkmessage {
    width: 100%;
/*    background-color: rgb(255, 74, 74);*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100500000000;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#mk_close {
    width: 23px;
    height: 21px;
    position: absolute;
    top: 5px;	right: 20px;
    cursor: pointer;
    display: block;
    background-color: white;
    border-radius: 50%;
    /*font-size: 20px;*/
    font: 20px/20px Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-indent: 0;
}

#mkmessage p {
    margin:5px 0;
    padding: 0;
    font-size: 24px;
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0;
    text-shadow: 0 0px 0 #fff;
}
